.alertWrapper{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .alert{
        width: 50%;
        font-size: 28px;
        @media (max-width:'768px') {
            width: 75%;
            font-size: 24px;
        }
        .alert-icon{
            font-size: 50px;
            margin-bottom: 16px;
        }
    }
    
}