html,
body {
    height: 100%;
}


// bootstrap css reset
.btn-close:focus {
    box-shadow: none !important;
}

.btn:active {
    border-color: transparent !important;
}

.form-control.is-invalid:focus {
    box-shadow: none !important;
}

.form-select:focus {
    box-shadow: none;
}

.btn.show {
    border-color: transparent;
}

.object-cover {
    object-fit: cover;
}

//form
.contact,
.register {
    form {
        width: 75%;

        @media (max-width:'992px') {
            width: 100%;
        }
    }
}




.roomCard {
    img {
        height: 100%;

        @media (max-width:500px) {
            height: auto;
        }
    }

    ;
}

