@import "bootstrap/scss/functions";
@import '../../style/variables';

footer {
    a{
        color: white;
    }
    .pages {
        li {
            transition: 0.5s ease-in;

            &:hover {
                border-radius: 50px;
                background: $secondary;
            }
        }

    }

    .contact {
        a {
            &:hover {
                text-decoration: underline;
                color:$secondary;
            }
        }
    }

}