.offcanvas{
    visibility: visible;
    .filterBtn{
        right: -49px;
        top:250px;
        -webkit-writing-mode: vertical-lr;
        writing-mode: vertical-lr;
        
    }
}
@media (max-width:768px) {
    .offcanvas.show{
        .filterBtn{
             display: none;
        }
    }
}