.offcanvas{
    visibility: visible;
    .filterBtn{
        right: -49px;
        top:250px;
        //-webkit-writing-mode: vertical-rl;
        -webkit-writing-mode:'bidi-override';
        -webkit-text-direction:'rlt';
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
}
@media (max-width:768px) {
    .offcanvas.show{
        .filterBtn{
             display: none;
        }
    }
}