.offcanvas{
    visibility: visible;
    .filterBtn{
        right: -100px;
        top:250px;
        //-webkit-writing-mode: vertical-rl;
        writing-mode: vertical-lr;
        transform: rotate(0deg);
    }
}
@media (max-width:768px) {
    .offcanvas.show{
        .filterBtn{
             display: none;
        }
    }
}